.photo-multimedia {
  .media-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 5px;

    img {
      padding: 10px;
      flex: 0 0 33.33333333%;
    }
  }

}
