.group-members {
  margin: 10px;

  .img-members {
    display: flex;
    flex-direction: row;

    .main-avatar {
      margin: 0 10px;
      width: 70px;
      height: 70px;
    }

    .members-avatar {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 5px;
    }
  }
}
