.preview-of-chat {
  width: 270px;
  height: calc(100vh - 94px);
  background: grey;
  float: right;
  border-radius: 20px 20px 20px 0 ;
  margin: 30px 10px;
  hr {
    background: white;
    margin: 0 20px;
  }

  .show-all {
    display: block;
    margin: 0 auto;
    border: none;
    background: none;

    span {
      color: orangered;
      text-decoration: underline;
    }
  }
}
