.search-card {
  border-radius: 10px;
  width: 500px;
  margin: 20px;

  .ant-card-head {
    background-color: #f8f9fa;
  }

  .form-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input-search {
      width: 100%;
    }

    .button-search {
      width: 20%;
    }
  }
}