$border-size: 5px 0px 0px 5px;
$width: 100%;

.sign-in {
  padding: 20px 0px;
  background-color: #0050b3;

  .img-block {
    border-radius: $border-size;


    img {
      width: $width;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: $border-size;
    }
  }

  .form-block {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    form {

      .title-form {
        text-align: center;
        margin-top: 20px;
      }

      input, button {
        margin: 5px 0px;
      }

      .line {
        height: 0.1px;
        background-color: lightgray;
        border: none;
      }

      .email, .password {
        border-radius: 20px;
      }

      .error-message {
        color: white;
        padding: 2px 2px;
        margin: 5px;
        font-size: 13px;
        width: $width;
        border-radius: 5px;
        background-color: #f5222d;
        text-align: center;
      }


      .ant-btn-dangerous {
        background-color: #f5222d;
        color: white;

        &:hover {
          background-color: #cf1322;
        }
      }

      .facebook-btn {
        background-color: #0050b3;
        border: none;
        height: 32px;
        padding: 4px 16px;
        border-radius: 32px;
        width: $width;
        color: white;
        transition: all .5s ease;
        font-size: 13px;

        &:hover {
          background-color: #003a8c;
          cursor: pointer;
        }

        i {
          margin-right: 5px;
        }
      }

      .footer {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}












