
.ComingSoon{
 background-color: #2a5555;
}

.coming-soon-header {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
}

.right-block {
  height: 100vh;
  width: 28%;
  //background: red;
  justify-content: center;

}


.left-block {
  height: 100vh;
  width: 70%;
  padding: 50px 40px;
  transform: skewX(-9deg);
  transform-origin: top right;

  background-color: darkblue;
    h1 {
        font-size: 3.5rem;
        margin: 50px 40px;
        color: #fff;
      }
      p {
        margin: 0 40px 0 40px;
        font-size: 1.2rem;
        color: #fff;
      }
  }

.form {
  box-sizing: border-box;

  padding-left: 150px;
  padding-top: 150px;

  Input {
    padding: 15px;
  }

  Button {
    height: 54px;
    margin-left: 20px;
    padding: 1rem;
  }
}

.form Input {
  width: 300px;
}

.right-block{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right:20px ;
}

.social{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 20px;
  cursor:pointer ;
  img{
    height: 50px;
    width: 50px;
  }
}
