$border-size: 5px 0px 0px 5px;
$max: 100%;

.forgot-password {
  padding: 50px;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #0050b3;

  .img-block {
    border-radius: $border-size;
    img {
      width: $max;
      height: $max;
      object-fit: cover;
      object-position: 10% 30% 50% 50%;
      border-radius: $border-size;
    }
  }

  .form-block {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: center;
    text-align: center;

    .title {
      font-weight: normal;
      margin-top: 40px;
    }

    .secondary-text {
      font-size: 16px;
    }

    .email {
      border-radius: 25px;
      height: 50px;
      max-width: 345px;
      margin-top: 20px;
    }

    button {
      &.reset-password {
        height: 45px;
        max-width: 345px;
      }
    }

    .line {
      height: 0.1px;
      background-color: lightgray;
      border: none;
    }

    .ant-btn-dangerous {
      background-color: #f5222d;
      color: white;

      &:hover {
        background-color: #cf1322;
      }
    }

    .footer {
      text-align: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      a {
        margin: 5px;
      }
    }
  }
}
