%flex-template {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-wrapper {
  width: 100%;
  height: 100vh;
  @extend %flex-template;

  .sign-in-block-flex {
    width: 60%;
    height: 500px;
    border-radius: 5px;
    @extend %flex-template;


    .img-block {
      height: 100%;
      width: 50%;
      background-color: darkmagenta;
      border-radius: 20px 0px 0px 20px;
      @extend %flex-template;

      img {
        width: 100%;
        height: 346.275px;
      }
    }


    .form-block {
      height: 100%;
      text-align: center;
      width: 50%;
      background-color: lightseagreen;
      border-radius: 0px 20px 20px 0px;
      @extend %flex-template;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input, button {
          margin: 5px 0px;
        }

        hr {
          width: 100%;
        }
      }
    }
  }
}

.error-massage {
  color: darkred;
  text-align: left;
  padding: 2px 2px;
  font-size: 13px;
  width: 50%;
  background-color: darkorange;
  border-radius: 5px;
}