.post {
  .tag-post {
    color: white;
    font-weight: 1000;
    border-radius: 5px;
    margin-top: 10px;
  }

  .ant-image, {
    border-radius: 5px;
    width: 100%;
  }

  .text-post {
    font-size: 20px;
  }
}
